/* styles for the form */
.NewForm {
    box-sizing: border-box;
}
div {
    padding: 10px;
    background-color: lightblue;
    overflow: hidden;
}
input[type=text], textarea, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=button]{ 
    width: auto;
    float: right;
    cursor: pointer;
    padding: 7px;
}
  