/* 2-27 Restart */
body {
    background-color: beige; /* just a test color */
}

div 
{
    text-align: center;
    font-weight: bold;
}

table, th, td {
    text-align: center;
    border: 2px solid blue;
    padding: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#heads {
    font-size: larger;
    font-weight: bolder;
    color: maroon;      /* testing color */
}

footer {
    text-align: center;
    font-size: x-large;         /* keep? */
    font-weight: bold;
}


/* testing hover text styles - START */
body {
    padding: 50px 10px;
    margin: 0 auto;
    max-width: 900px;
  }
  
  #hov-element {
    border: 1px solid black;
    display: none;
    font-size: 12px;
    margin: 10px;
    padding: 10px;
    font-style: italic;
    text-transform: uppercase;
  }
  
  #hov-div:hover #hov-element {
    display: block;
  }
  /* END */