/* 2-27 Restart */
body {
    background-color: beige; /* just a test color */
}

div {
    margin-right: 10px;
    padding-right: 10px;
    font-weight: bold;
}

h1 
{
    text-align: center;
    font-weight: bold;
}

table, th, td {
    text-align: center;
    border: 2px solid blue;
    padding: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#heads {
    font-size: larger;
    font-weight: bolder;
    color: maroon;      /* testing color */
}

footer {
    text-align: center;
    font-size: x-large;         /* keep? */
    font-weight: bold;
}

/* tweak these styles when a final color scheme is settled */
<style>
    /* Tooltip container */
    .tooltip {
    position: relative;
    display: inline-block;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    
    position: absolute;
    z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
    visibility: visible;
    }
</style>
