/* 2-27 Restart */
body {
    background-color: aqua; /* just a test color */
}

div, p {
    text-align: center;
    font-weight: bold;
}

footer {
    text-align: center;
    font-size: x-large;         /* keep? */
    font-weight: bold;
}