/* 2-27 Restart */

/* testing media styles */
/* @media (max-width: 575px) {
    .container {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color: black;
        background-color: lightgreen;
    }
    footer, header {
        text-align: center;
    }
    
} */

/* body {
    background-color: beige;
}

div {
    margin-right: 10px;
    padding-right: 10px;
    font-weight: bold;
}
*/

header, footer 
{
    font-weight: bold;
    background-color: skyblue;
    border: 5px solid darkblue;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/*
table, th, td {
    text-align: center;
    border: 2px solid blue;
    padding: 10px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}
*/

#heads {
    font-size: larger;
    font-weight: bolder;
    color: maroon;      /* testing color */
}



/* tweak these styles when a final color scheme is settled 
<style>
    Tooltip container 
    .tooltip {
    position: relative;
    display: inline-block;
    }

    Tooltip text 
    .tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    
    position: absolute;
    z-index: 1;
    }

    Show the tooltip text when you mouse over the tooltip container
    .tooltip:hover .tooltiptext {
    visibility: visible;
    }
</style> */