/* 2-27 Restart */

body {
    background-color: lightblue;
}

div {
    margin-right: 5px;
    padding-right: 5px;
}


header, footer 
{
    font-weight: bold;
    background-color: skyblue;
    border: 5px solid darkblue;
    text-align: center;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

/* testing media styles */
@media (max-width: 575px) {
    .container {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        color: black;

    }
    footer, header {
        text-align: center;
    }
    
}

@media (min-width: 576px) and (max-width: 1024px) {
    .row {
        color: blue; 
        text-align: center;
    }
    .col-sm-3, .col-sm-4 {
        border: 2px solid green;
    }
}



#links {
    text-align: center;
}
